@use "../base/mixins" as *;
@use "../base/variables" as *;

.hero-section-wrapper {
    @include flex(row, center, space-between, null);
    background-color: $dark-blue-gray-color;
    padding: 0 5.125em 0 6.8125em;

    div {
        width: 41.5972vw;
        @include flex(column, null, null, 1.5em);

        h1 {
            font-weight: $font-weight-bold;
            font-size: 4.375rem;
            color: white;
            margin: 0;
        }

        p {
            font-weight: $font-weight-regular;
            font-size: 1.125rem;
            margin: 0;
            line-height: 2em;
            color: white;
        }

        button {
            @include button(#4532fc, null, 0.53125em 1.125em);
        }

        .circle-container {
            width: fit-content;
            @include flex(row, center, null, 5px);

            .circle {
                width: 0.875em;
                height: 0.875em;
                border-radius: 50%;
                background-color: #d9d9d980;
            }

            .circle-active {
                @extend .circle;
                background-color: #df49fc;
            }
        }
    }

    figure {
        margin: 0;
    }
}

@include respond-to(xs) {
    .hero-section-wrapper {
        padding: 0 1.5em 0 1em;
        position: relative;
        z-index: 1;

        div {
            padding: 2.8em 2.8em 2.8em 0em;
            z-index: 1;
            width: 100%;
            @include flex(column, null, null, 1em);
            h1 {
                font-size: 2.5rem;
            }

            .circle-container {
                .circle {
                    padding: 0;
                }
            }
        }

        figure {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            margin: 0;
            z-index: 0;
            img {
                width: 100%;
                height: 100%;
            }
        }
    }
}
