@use "../base/mixins" as *;
@use "../base/variables" as *;

.outsource-payment {
    @include flex(column, center, null, 2.875em);
    padding: 7.5em 5em 3.75em 5em;

    .heading {
        @include flex(column, center, null, 1em);

        h2 {
            color: $dark-blue-gray-color;
            font-weight: $font-weight-semibold;
            font-size: 3rem;
            margin: 0;
        }

        p {
            font-weight: $font-weight-regular;
            font-size: 1rem;
            color: #616161;
        }
    }

    .payment-collection-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        row-gap: 1.25em;
        column-gap: 0.625em;

        .payment-collection-item {
            @include flex(column, center, null, 1.75em);
            padding: 3.25em 1.5em;

            h5 {
                font-weight: $font-weight-medium;
                font-size: 1.5rem;
                color: $dark-blue-gray-color;
                margin: 0;
            }

            p {
                font-weight: $font-weight-regular;
                font-size: 1rem;
                text-align: center;
                color: #616161;
            }
        }
    }
}