@use "../base/mixins" as *;
@use "../base/variables" as *;

header {
    @include flex(row, center, space-between);
    padding: 1.4375em 5.125em 2em 5.125em;
}

.navlink {
    @include flex(row, center, null, 2em);

    span {
        font-weight: $font-weight-medium;
        font-size: 1.125rem;
        line-height: $line-height-tight;
        color: $dark-blue-gray-color;
    }
}

.login-section {
    @include flex(row, center, null, 0.875em);

    span {
        font-weight: $font-weight-medium;
        font-size: $font-size-normal;
        color: $primary-color;
        padding: 0.53125em 1.125em;
    }

    button {
        @include button(white, $primary-color, 0.53125em 1.125em);
    }
}

footer {
    padding: 0px 11.6875em;
    background-color: #f1f0ff;

    .top-section {
        padding: 72px 0 25px 0;
        @include flex(row, null, space-between, null);

        .about-us {
            @include flex(column, null, null, 2.25em);

            p {
                margin: 0;
                width: 24.2361vw;
                font-weight: $font-weight-regular;
                font-size: 0.875rem;
                line-height: 160%;
                color: #616161;
            }

            figure {
                margin: 0;
                @include flex(row, null, null, 1em);
                padding-left: 3px;
            }
        }

        .quick-link {
            display: grid;
            grid-template-columns: repeat(3, 1fr);

            div {
                @include flex(column, null, null, 1.5em);

                h6 {
                    margin: 0;
                    font-weight: $font-weight-medium;
                    font-size: $font-size-normal;
                    color: $dark-blue-gray-color;
                }

                span {
                    font-weight: $font-weight-regular;
                    font-size: 0.75rem;
                    color: $dark-blue-gray-color;
                    opacity: 70%;
                }
            }
        }
    }

    .bottom-section {
        @include flex(row, null, space-between, null);
        padding: 1.5625em 0;

        div {
            @include flex(row, center, null, 1.5em);

            span {
                font-weight: $font-weight-regular;
                font-size: 0.75rem;
                color: $dark-blue-gray-color;
                opacity: 50%;
            }
        }
    }
}