@use "../base/mixins" as *;
@use "../base/variables" as *;

.task-manager-container {
    padding: 0 4.5em;

    .wrapper {
        background-color: #f1f0ff;
        @include flex(column, center, center, 1.5em);
        padding: 7.5em 13.9375em;

        .heading-section {
            @include flex(column, center, null, 1.5em);

            h1 {
                margin: 0;
                font-weight: $font-weight-bold;
                font-size: 4.375rem;
                color: $primary-color;
                text-align: center;
            }

            p {
                margin: 0;
                font-weight: $font-weight-regular;
                font-size: 1.125rem;
                text-align: center;
                line-height: 2em;
                color: #616161;
            }
        }

        .task-section {
            padding: 3.75em;
            background-color: white;
            border-radius: 2em;
            width: 58.9583vw;
            @include flex(column, center, center, 1em);

            .task-item {
                width: 100%;
                @include flex(row, center, space-between, null);

                div {
                    @include flex(row, center, null, 0.625em);

                    input {
                        @include input(1.25em 0.5em);
                    }

                    p {
                        color: #3c434a;
                        font-weight: $font-weight-regular;
                        font-size: 1rem;
                        letter-spacing: 0%;
                        vertical-align: middle;
                    }
                }

                button {
                    @include flex(row, center, null, 0.625em);
                    border: 1px solid #fc4b4b;
                    border-radius: 0.25em;
                    padding: 0.25em 1em;
                    background: none;

                    span {
                        font-family: Manrope;
                        color: #fc4b4b;
                        font-weight: $font-weight-semibold;
                        font-size: 0.875rem;
                        line-height: 100%;
                        letter-spacing: 0%;
                    }
                }
            }

            .input-field {
                width: 100%;
                @include flex(column, null, null, 0.5em);

                input {
                    @include input(1.25em 0.5em);
                }

                .error {
                    @include error;
                }
            }

            .add-btn {
                align-self: flex-start;
                @include button(white, $primary-color, 0.625em 4em);
            }
        }
    }
}

@include respond-to(xs) {
    .task-manager-container {
        padding: 0 0em;

        .wrapper {
            padding: 5em 0em;

            .heading-section {
                h1 {
                    font-size: 2.5rem;
                }
            }

            .task-section {
                padding: 3.75em 1em;
                width: 80vw;
            }
        }
    }
}
