@mixin horizontal-layout {
    display: flex;
    align-items: center;
}

.vertical-layout {
    display: flex;
    flex-direction: column;
}



header {
    @include horizontal-layout;
    justify-content: space-between;
    padding: 23px 82px 32px 82px;
}



.navlink {
    @include horizontal-layout;
    gap: 32px;

    span {

font-weight: 500;
font-size: 18px;
line-height: 100%;
color: #121D2D;

    }
    
}

.login-section {
    @include horizontal-layout;
    gap: 14px;
    span {
   font-weight: 500;
   font-size: 16px;
    line-height: 23px;
    color: #4532FC;
    padding: 8.5px 18px;

    }

    button {

font-weight: 500;
font-size: 16px;
line-height: 23px;
padding: 8.5px 18px;
color: white;
background-color: #4532FC;
border: none;
border-radius: 16px;

    }
}

footer {
    padding: 0px 187px;
    background-color: #F1F0FF;
    .top-section {
        padding: 72px 0 25px 0;
        display: flex;
        justify-content: space-between;

        .about-us {
            display: flex;
            flex-direction: column;
            gap: 36px;
            p {
                margin: 0;
                width: 349px;
font-weight: 400;
font-size: 14px;
line-height: 160%;
color: #616161;

            }

            figure {
                margin: 0;
                display: flex;
                gap: 16px;
                padding-left: 3px;
            }
        }

        .quick-link {
            display: grid;
            grid-template-columns: repeat(3, 1fr);

            div {
                display: flex;
                flex-direction: column;
                gap: 24px;

                h6 {
                    margin: 0;
                  
font-weight: 500;
font-size: 16px;
line-height: 24px;
color: #121D2D;

                }

                span {
                 
font-weight: 400;
font-size: 12px;
line-height: 24px;
color: #121D2D;
opacity: 70%;

                }
            }

        }
    }
    .bottom-section {
        display: flex;
        justify-content: space-between;
        padding: 25px 0px;

        div {
            span {
              
font-weight: 400;
font-size: 12px;
line-height: 16px;
color: #121D2D;
opacity: 50%;

            }
        }
    }
}