$font-weight-bold: 800;
$font-weight-medium: 500;
$font-weight-regular: 400;

$border-radius: 1em;
$input-border: 1px solid #9e9e9e;

$line-height-tight: 100%;
$line-height-normal: 1.4375em;
$line-height-small: 1.25em;
$line-height-medium: 2em;
$line-height-large: 4em;

$font-size-normal: 1rem;

$primary-color: #4532fc;
$span-color: #121d2d;
